.bullet {
  height: 75px;
}

.align-right {
  text-align: right;
  margin-right: 5px;
}

.rule {
  border-bottom: 1px solid #1e0903;
  width: 3em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
