body {
  font-family: 'Comfortaa', cursive;
  color: #eae5e3;
  background-color: #dd441a;
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Averia Serif Libre', cursive;
  font-weight: 100;
  margin: 0;
}

hr {
  width: 3em;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #1e0903;
}
