.bullet-svg {
  height: 15px;
}

.ellipsis-svg {
  height: 15px;
}

.rotate {
  transform: rotate(-90deg);
}

.profile-picture {
  margin-left: 50px;
  height: 200px;
  border-radius: 20px 80px 20px;
}

.about-container {
  padding-left: 10px;
}
